DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=couple-quest
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS_ENABLE=false
MAIL_FROM=no-reply@couple-quest.local