version: '3.8'
services:

  database:
    image: postgres:18.0-alpine
    container_name: local-db-couple-quest
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-init.d
    restart: unless-stopped

volumes:
  postgres_data:
    name: local-postgres-data-couple-quest